@import "componentes/variables";
@import "componentes/categorias";
@import "componentes/cards";
@import "componentes/header";
@import "componentes/footer";

// NEWS //

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

//

@font-face {
	font-family: "Antipasto-Regular";
	src: url("/fonts/Strawberry\ Blossom.ttf");
}

@font-face {
	font-family: "Antipasto-Regular";
	src: url("/fonts/Antipasto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background-image: url(/img/background.jpg);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 70px;
    a {
        text-decoration: none;
    }
}

#titulo {
    height: 70px;
    background-color: $verde;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 60px;
    font-family: $fuente;
    h1 {
        color: $blanco;
        margin: 20px 0px 30px 15px;
        text-align: center;
        font-size: 37px;
    }
}

#iconos-ind {
    display: flex;
    place-self: center;
    width: 40px;
    height: 40px;
}
#direcciones {
    font-family: $fuente;
    color: white;
    font-size: 11px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 55px;
    text-align: end;
}

#direcciones-home {
    display: flex;
    font-family: $fuente;
    color: white;
    font-size: 11px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    text-align: end;
}

#telefono-title {
    font-family: $fuente;
    margin-bottom: 10px;
    img {
        width: 20px;
    }
}

#telefono {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 20px;
        padding-right: 10px;
    }
    a:link {
        font-family: $fuente;
        color: black;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: rgb(46, 46, 46);
        background-color: transparent;
        text-decoration: none;
      }
}

h3 {
    margin: 5px
}

#container-tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lista-gustos {
    font-family: $fuente;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 1px 0px #ffffffb7, 1px 1px 0px rgba(0,0,0,0.2);
}