@import "componentes/variables";
@import "componentes/categorias";
@import "componentes/cards";
@import "componentes/header";
@import "componentes/footer";

@font-face {
	font-family: "Strawberry Blossom";
	src: url("/fonts/Strawberry\ Blossom.ttf");
}

@font-face {
	font-family: "Antipasto-Regular";
	src: url("/fonts/Antipasto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background-image: url(/img/background.jpg);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    min-height: 300px;
    a {
        text-decoration: none;
    }
}

h1 {
    font-family: $fuente;
    color: $verde;
}

#titulo {
    height: 60px;
    background-color: $verde;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: absolute;
    width: 100%;
    top: 60px;
    h1 {
        color: $blanco;
        margin: 10px;
        text-align: center;
        font-size: 35px;
    }
}