@import "componentes/variables";
@import "componentes/categorias";
@import "componentes/cards";
@import "componentes/header";

@font-face {
	font-family: "Strawberry Blossom";
	src: url("/fonts/Strawberry\ Blossom.ttf");
  }

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    a {
        text-decoration: none;
    }
}

h1 {
    font-family: $fuente;
    color: $verde;
}

#titulo {
    height: 60px;
    background-color: $verde;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    h1 {
        color: $blanco;
        margin: 10px;
        text-align: center;
        font-size: 35px;
    }
}