footer {
    position: absolute;
    //left: 0;
    bottom: calc(-35px);
    z-index: 20;
    width: 100%;
    background-color: $verde;
    color: $blanco;
    text-align: center;
    height: 30px;
    background-color: $verde;
    display: flex;
    justify-content: center;
    //margin-bottom: 20px;
    font-family: $fuente-seccion;
    //margin-bottom: 0px;
    align-items: center;
    span {
        color: $blanco;
        margin: 11px 10px 10px 5px;
        text-align: center;
        font-size: 0.5rem;
        align-self: center;
    }
    img {
        width: 50px;
        height: auto;
    }
}