footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 40px;
    background-color: $verde;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: $fuente-seccion;
    margin-bottom: 0px;
    align-items: center;
    span {
        color: $blanco;
        margin: 10px;
        text-align: center;
        font-size: 0.875rem;
        align-self: center;
        font-size: 0.7gem;
    }
    img {
        width: 55px;
        height: 10px;
    }
}