header {
    display: flex;
    justify-content: center;
    height: 60px;
    top: 0px;
    left: 0px;
    border-bottom: 0.3px solid #707070;
}

#logo {
    margin-top: 9px;
    margin-bottom: 9px;
}