header {
    display: flex;
    justify-content: center;
    height: 60px;
    top: 0px;
    left: 0px;
    border-bottom: 0.3px solid #707070;
    #head {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }
}


#logo {
    margin-top: 9px;
    margin-bottom: 9px;
    width: 92px;
}